<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Change password from</title>
</head>

<body>
	<section>

		<div class="login-wrap mt-5">


			<!-- <h1>enter new password</h1> -->

			<div class="login-form">
				<form method="post" th:action="@{/change-password}">
					<div class="for-pwd-htm">
						<div class="group">
						
							<label for="user" class="label"></label> <input name="newPassword"
								required="required" placeholder="Enter new password here"
								type="password" class="input">
						</div>

						<div class="group">
							<input type="submit" class="button button-success" value="verify">
						</div>




						<div class="hr"></div>

					</div>

				</form>


			</div>
		</div>

	</section>
</body>







</body>

</html>